body {
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.fullPage {
  min-height: 100vh;
  width: 100vw;
  background-image: url('src/premium_photo-1701646599980-8ad72960218e.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  box-sizing: border-box;
  padding: 40px; /* або 0, якщо не потрібен внутрішній відступ */
}

/* Стиль інпутів */

.input-container {
  position: relative;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: flex-end;
    margin-bottom: 20px;
    justify-content: center;
    margin: 25px 0;
    padding: 20px;
}
input {
  height: 48px;
  width: 280px;
  border: 1px solid #c0c0c0;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 10px;
}

/* Хуйнюшка що спливає над контейнером */
.label {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 16px;
  display: flex;
  align-items: center;
  pointer-events: none;
}

input, .label .text {
  font-family: 'Segoe UI';
  font-size: 16px;
}

.label .text {
  transition: all 0.15s ease-out;
  color: grey;
}

input:focus {
  outline: none;
  border: 2px solid rgb(74, 74, 100);
}



  /* label піднімається вгору */
.input-container input:focus ~ .label .text,
.input-container input:not([value=""]) ~ .label .text {
  font-size: 12px;
  transform: translate(0, -150%);
  background-color: white;
  padding-left: 4px;
  padding-right: 4px;
  color: rgb(120, 120, 141);
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.5); /* чорна напівпрозора рамка */
}

input:focus + .label .text {
  color: rgb(120, 120, 141);
}


/* Налаштування кнопки  */
.add-btn-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}
.button-59 {
  align-items: center;
  background-color: #fff;
  border: 2px solid #585858;
  box-sizing: border-box;
  color: #747474;
  cursor: pointer;
  display: inline-flex;
  fill: #6e6e6e;
  font-family: Inter,sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
}

.button-59:focus {
  color: #777777;
}

.button-59:hover {
  border-color: rgb(83, 85, 87);
  color: rgb(88, 89, 90);
  fill: rgb(116, 117, 119);
}

.button-59:active {
  border-color: rgb(168, 171, 175);
  color: rgb(146, 148, 151);
  fill: rgb(151, 152, 153);
}

@media (min-width: 768px) {
  .button-59 {
    min-width: 170px;
  }
}


/* Налаштування таблиці */
table {
  border-collapse: collapse;
  width: 100%;
  margin: 20px 0;
  margin-top: 20px;
}
 th {
  background: #ccc;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
}

tr:nth-child(even) {
  background: #efefef;
}

tr:hover {
  background: #d1d1d1;
}

/* Анімація додавання рядка */
.add-row-animation {
  animation: addRow 2s linear;
}

@keyframes addRow {
  0% {
    background-color: rgb(114, 113, 112);
    opacity: 0;
    transform: scaleY(0.5);
  }
  50% {
    background-color: #7e7d7c;
    opacity: 1;
    transform: scaleY(1.05);
  }
  100% {
    background-color: inherit;
    opacity: 1;
    transform: scaleY(1);
  }
}

@media (max-width: 768px) {
  #myTable {
    max-width: 100%;
    width: 100%;
    font-size: 14px;
    margin-left: 8px;
    margin-right: 8px;
  }
  th, td {
    padding: 4px;
  }
}